<script src="bower_components/webcomponentsjs/webcomponents.js"></script>
<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/core-drawer-panel/core-drawer-panel.html">
<link rel="import" href="bower_components/core-header-panel/core-header-panel.html">
<link rel="import" href="bower_components/core-scroll-header-panel/core-scroll-header-panel.html">
<link rel="import" href="bower_components/core-toolbar/core-toolbar.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/core-animated-pages/core-animated-pages.html">
<link rel="import" href="bower_components/paper-item/paper-item.html">
<link rel="import" href="bower_components/paper-slider/paper-slider.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">

<link rel="import" href="bower_components/core-icon/core-icon.html">
<link rel="import" href="bower_components/core-input/core-input.html">
<link rel="import" href="bower_components/paper-input/paper-input.html">
<link rel="import" href="bower_components/paper-input/paper-input-decorator.html">

<link rel="import" href="bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="bower_components/paper-dialog/paper-action-dialog.html">


<link rel="import" href="route.html">
<script type="text/javascript" src="jquery-1.11.1.min.js"></script>
<style type="text/css">
    @font-face {
      font-family: 'Dejaweb';
      src: url('fonts/NotoSansGurmukhi-Regular.ttf');
    }

    section {
      text-align: center;
    }

    span {
      font-family: 'Dejaweb';
      line-height: 1.8;
      word-wrap; normal;
      display: inline-block;
    }

    h1 {
      font-family: 'Dejaweb';
      font-size: 35px;
    }

    p {
      font-family: 'Dejaweb';
      font-size: 25px;
    }

    .highlight {
      background: #1D74FF;
    }
</style>

<polymer-element name="codelab-app">
    <template>
        <link rel="stylesheet" href="styles.css">
        <core-drawer-panel>
            <core-header-panel id="sideDrawer" drawer>
                <core-toolbar class="small">
                    <div>Menu</div>
                </core-toolbar>
                <div>
                    <more-route-selector>
                        <paper-item on-tap="{{goToHome}}" route="home" core-drawer-toggle>
                            <core-icon icon="home" core-drawer-toggle></core-icon>
                            <a href="{{urlFor('home')}}" core-drawer-toggle>Home</a>
                        </paper-item>
                        <paper-item on-tap="{{goToGoToPage}}" route="goto" core-drawer-toggle>
                            <core-icon icon="arrow-forward" core-drawer-toggle></core-icon>
                            <a href="{{urlFor('goto')}}" core-drawer-toggle>Go To</a>
                        </paper-item>
                    </more-route-selector>
                </div>
            </core-header-panel>
            <core-scroll-header-panel main fixed>
                <core-toolbar class="small">
                    <div class="bottom fit" horizontal center-justified layout>
                        <paper-icon-button icon="menu" core-drawer-toggle></paper-icon-button>
                        <div><paper-icon-button id="back" on-tap="{{angBack}}" icon="arrow-back"></paper-icon-button></div>
                        <div id="headerDisplayContent" style="position:relative; top:8px">Navigator</div>
                        <div><paper-icon-button id="forward"  on-tap="{{angForward}}" icon="arrow-forward" ></paper-icon-button></div>
                    </div>
                </core-toolbar>
                <div class="mainDiv">
                    <more-route-selector>
                        <core-animated-pages transitions="cross-fade-all hero-transition">
                            <section route="home" class="home">
                                <a  href="{{urlFor('goto')}}">
                                    <img src="assets/ladivaar.png" width="100%">
                                </a>
                            </section>
                            <section route="goto" class="goto">
                                <p>1. Type <strong>Ang</strong> in the <strong>TextBox</strong> and <strong>Press Go</strong></p>
                                <paper-input-decorator id="angInput"  on-keypress = "{{keyEvent}}" label = "Enter Ang No - (1-1430)" maxlength = "4">
                                    <input id="angInput" is="core-input" type="text" pattern="^([1-9]|[1-9][0-9]|[1-9][0-9][0-9]|1[0-4][0-2][0-9]|1[0-3][0-9][0-9]|1430)$" preventInvalidInput  value="{{value2}}" committedValue="{{committedValue2}}" >
                                </paper-input-decorator>
                                <paper-button raised autofocus on-click = "{{goToAngNumber}}">Go</paper-button>
                                <p>2. Use <strong>Navigator</strong> to change <strong>Angs</strong> while Reading</p>
                                <p>3. <strong>Touch</strong> on <strong>Screen</strong> to get Pad-Ched</p>
                            </section>
                            {{sggs_content}}
                        </core-animated-pages>
                    </more-route-selector>
                </div>
            </core-scroll-header-panel>
        </core-drawer-panel>
    </template>
<script>
  Polymer('codelab-app', {
    data:[],
    add: function() {
      if (this.newNote) {
        this.data.unshift({
          body: this.newNote,
          done: false
        });
        this.$.newNoteInput.style.display = 'none';
        this.$.newNoteInput.value = null;
      }
    },
    makeLadivaar: function() {
            if(window.processedAng == undefined) {
                window.processedAng = {}
            }
            var currentAngArr = location.hash.match(/\d+/)
            var currentAng = 0;
            if(currentAngArr && currentAngArr.length) {
                currentAng = currentAngArr[0]
            }
            var currentSection = this.$["ang" + currentAng]
            if(window.processedAng["ang" + currentAng] == undefined && currentAng > 0) {

                // get all H1 and P tag
                var children = $(currentSection).children();
                var sectionHTML = ';'
                for(var i=0;i<children.length;i++) {
                    var childHTML = '';
                    // for each H1 and P tag get their html and wrap each word with
                    // a span tag
                    var child = children[i]
                    var wordArray = $(child).html().match(/(.+?)(?:(\s|$))/g);
                    if(wordArray != null) {
                        for(var j=0;j<wordArray.length;j++) {
                            childHTML += "<span>" + wordArray[j].trim() + "</span>";
                        }
                    }
                    $(child).html(childHTML)
                }

                $('#ang' + currentAng + '/deep/  span').mouseover(function() {
                    $(this).addClass('highlight')
                });
                $('#ang' + currentAng + '/deep/  span').mouseout(function() {
                    $(this).removeClass('highlight')
                });
                window.processedAng["ang" + currentAng] = true
            }
            if(currentSection && currentAng > 0) {
                currentSection.parentElement.scrollIntoView()
            }
            var headerDisplayDom = this.$.headerDisplayContent
            if(currentAng > 0) {
                $(headerDisplayDom).html("Navigator (Ang - " + currentAng + ")")
                var backArrow = this.$.back
                backArrow.style.display = 'block'
                var forward = this.$.forward
                forward.style.display = 'block'
            } else {
                $(headerDisplayDom).html("Navigator")
            }
    },
    setDisplayLabel: function() {
        var headerDisplayDom = this.$.headerDisplayContent
        if(location.hash == "" || location.hash == "#!/") {
            $(headerDisplayDom).html("Navigator")
            var backArrow = this.$.back
            backArrow.style.display = 'none'
            var forward = this.$.forward
            forward.style.display = 'block'

        } else if(location.hash == "#!/goto") {
            $(headerDisplayDom).html("Go To")
            var backArrow = this.$.back
            backArrow.style.display = 'block'
            var forward = this.$.forward
            forward.style.display = 'none'
        }
    },
    ready:function() {
        var _this = this;
        window.onhashchange = function() {
            _this.makeLadivaar();
            _this.setDisplayLabel();
        }
        this.makeLadivaar();
        this.setDisplayLabel();
    },
    showNewNoteInput: function() {
      this.$.newNoteInput.style.display = 'block';
    },
    myFunc: function (argument) {
        if(this.$.ratings.value && this.$.ratings.value != 0) {
            window.location.href = "#!/ang/" + this.$.ratings.value
            // document.querySelector('app-router').go('/ang' + toWords(this.$.ratings.value), {replace:true});
        }
    },
    angForward:function() {
        var currentAngArr = window.location.hash.match(/\d+/)
        var currentAng = 0;
        if(currentAngArr && currentAngArr.length) {
            currentAng = parseInt(currentAngArr[0])
        }
        if(currentAng == 0) {
            this.goToGoToPage();
        } else if(currentAng < 1430) {
            window.location.href = "#!/ang/" + (currentAng + 1)
        } else if(currentAng == 1430) {
            window.location.href = "#!/ang/" + (currentAng + 1)
            var forward = this.$.forward
            forward.style.display = 'none'
        }
    },
    angBack:function() {
        var currentAngArr = window.location.hash.match(/\d+/)
        var currentAng = 0;
        if(currentAngArr == null) {
            this.goToHome();
        } else if(currentAngArr && currentAngArr.length) {
            currentAng = parseInt(currentAngArr[0])
        }
        if(currentAng && currentAng > 1) {
            window.location.href = "#!/ang/" + (currentAng - 1)
        } else if(currentAng == 1) {
            this.goToGoToPage();
        }
    },
    goToHome: function () {
        location.hash = ""
    },
    goToGoToPage: function() {
        location.hash = "#!/goto"
    },
    track:function(e) {
        this.x = e.dx
        this.y = e.dy
    },
    touchEnd:function(e) {
        if(this.x > 50) {
            this.angBack()
        } else if(this.x < -50) {
            this.angForward()
        }
        this.x = 0;
        this.y = 0;
    },
    goToAngNumber: function() {
        if(this.$.angInput.value) {
            window.location.href = "#!/ang/" + this.$.angInput.value
            this.$.angInput.value = "";
        }
    },
    keyEvent: function (e) {
        if(e.keyCode == 13) {
            this.goToAngNumber();
        }
    }
  });
</script>
</polymer-element>